[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
scikit-learn = "*"
pandas = "*"
pulp = "*"

[packages]
numpy = "==1.22.0"

[requires]
python_version = "3.7"
